@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
a,
i {
  text-decoration: none;
  color: #222;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}
h3 {
  font-size: 3.25rem;
  font-weight: 400;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background-color: #f4f4f4;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  min-width: 750px;
  height: 90%;
  background-color: rgba(224, 224, 224, 0.6);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(17, 17, 17, 0.356);
  border: 1px solid rgba(17, 17, 17, 0.1);

}
.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div[class^="morph"] {
  width: 12rem;
  height: 12rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(17, 17, 17, 0.15);
}
.morphOutset {
  background: linear-gradient(145deg, #ffffff, #cacaca);
  box-shadow: 5px 5px 5px #8484845e, -5px -5px 5px rgba(255, 252, 252, 0.452);
  cursor: pointer;
}
.morphOutset:hover {
  box-shadow: inset 8px 8px 16px #b1b1b1, inset -8px -8px 16px #ffffff;
}
.image {
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: url(./assets/track-image.jpeg) no-repeat center center/cover;
  box-shadow: 10px 10px 20px #61616194;
}
.image::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(92, 187, 158, 1) 00%,
    rgba(13, 108, 170, 1) 71%,
    rgba(6, 23, 80, 1) 100%
  );
  filter: blur(15px);
  transform: scale(1.2);
  opacity: 0.6;
  transition: all 0.5s ease-in;

}

.image:hover::before {
    opacity: 1;
    filter: blur(20px);
    transform: scale(1.3);
}
.image img {
  width: 450px;
  height: 450px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description > div {
  padding: 1rem 0;
}
.bar {
  width: 75%;
  display: flex;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 20px;

}
.bar .progress {
  width: 70%;
  padding: 1rem;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(
    90deg,
    rgba(92, 187, 158, 1) 0%,
    rgba(13, 108, 170, 1) 71%,
    rgba(6, 23, 80, 1) 100%
  );
}
.bar .whiteSpace {
  width: 30%;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
}

.bar02 {
  width: 40%;
  margin-bottom: 2rem;
}
.bar02 .insetBar {
  width: 100%;
  padding: 0.7rem;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: inset -5px 5px 5px #848484, inset 0px -5px 5px #ffffff;
  border: none;
}

.fa-play {
  transform: scale(1.4);
  background: linear-gradient(
    90deg,
    rgba(92, 187, 158, 1) 0%,
    rgba(13, 108, 170, 1) 71%,
    rgba(6, 23, 80, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2rem;
}
.fa-power-off {
  color: rgb(158, 22, 22);
  font-weight: bold;
}
